<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Book" type="com.hubertasvin.library.domain.Book" />
        <typeAlias alias="Book" type="com.hubertasvin.library.domain.Publisher" />
        <typeAlias alias="Book" type="com.hubertasvin.library.domain.Author" />
    </typeAliases>

    <mappers>
        <mapper resource="com/hubertasvin/library/mapper/BookMapper.xml" />
    </mappers>
</configuration>
